@model JqueryAjax.Models.TransactionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BenificiaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BenificiaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.swiftCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.swiftCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.transactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
